<div class="main-container">
  <div class="flex-container">
    <div class="image-container">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, class:"profile-image", width: 200, height: 200 %>
      <% else %>
        <%= image_tag "default_avatar.png", class:"profile-image", width: 200, height: 200 %>
      <% end %>
    </div>
    <div class="introduction-container">
      <h2 class="introduction-h2">自己紹介</h2>
      <hr class="underline">
      <% @users.each do |user| %>
        <p class="introduction-text"><%= user.self_introduction %></p>
      <% end %>
      <div class="actions">
        <%= button_to "自己紹介を編集する", edit_user_path(current_user), method: :get, class:"submit-button" %>
      </div>
    </div>
  </div>
  <div class="chart-container">
    <h2 class="chart-h2">スキルチャート</h2>
    <hr class="chart-underline">
    <div class="actions">
      <% if @skills.any? %>
        <% first_skill = @skills.first %>
        <%= button_to "スキルを編集する", edit_category_skill_path(first_skill.category, first_skill), method: :get, data: { turbolinks: false }, class:"submit-button" %>
      <% end %>
    </div>
    <p class="chartbar-name">Chart.js Bar Chart</p>
    <canvas id="myChart"></canvas>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    const ctx = document.getElementById('myChart');
    const chartData = {
      labels: ['先々月', '先月', '今月'],
      datasets:[
        {
          label: 'バックエンド',
          data: [<%= @data["バックエンド"]["先々月"] || 0 %>, <%= @data["バックエンド"]["先月"] || 0 %>, <%= @data["バックエンド"]["今月"] || 0 %>],
          backgroundColor: 'rgba(254, 178, 194, 0.7)',
          borderColor: 'rgba(254, 178, 194, 1)',
          borderWidth: 1
        },
        {
          label: 'フロントエンド',
          data: [<%= @data["フロントエンド"]["先々月"] || 0 %>, <%= @data["フロントエンド"]["先月"] || 0 %>, <%= @data["フロントエンド"]["今月"] || 0 %>],
          backgroundColor: 'rgb(255, 207, 164, 0.7)',
          borderColor: 'rgb(255, 207, 164, 1)',
          borderWidth: 1
        },
        {
          label: 'インフラ',
          data: [<%= @data["インフラ"]["先々月"] || 0 %>, <%= @data["インフラ"]["先月"] || 0 %>, <%= @data["インフラ"]["今月"] || 0 %>],
          backgroundColor: 'rgba(254, 229, 176, 0.7)',
          borderColor: 'rgb(254, 229, 176, 1)',
          borderWidth: 1
        }
      ]
    };

    const chartOptions = {
      scales: {
        y: {
          beginAtZero: true,
          suggestedMax: 100,
          ticks: {
            stepSize: 10
          }
        }
      }
    };

    const myChart = new Chart(ctx, {
      type: 'bar',
      data: chartData,
      options: chartOptions
    });
  });
</script>