<div class="wrapper">
  <div class="flex-container">
    <div class="image-container">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, class:"profile-image", width: 360, height: 360 %>
      <% else %>
        <div class="profile-image default-avatar"></div>
      <% end %>
    </div>
    <div class="introduction-container">
      <h2 class="introduction-h2">自己紹介</h2>
      <hr class="underline">
      <% if @user == current_user %>
        <p class="introduction-text"><%= @user.self_introduction %></p>
      <% end %>
      <div class="top-profile-actions">
        <%= button_to "自己紹介を編集する", edit_user_path(current_user), method: :get, class:"profile-edit-button" %>
      </div>
    </div>
  </div>
  <div class="work-container">
    <div class="work-items">
      <h2 class="work-h2">作成アプリ</h2>
      <hr class="work-underline">
      <div class="actions">
        <%= button_to "作成したアプリ一覧を見る", method: :get, data: { turbolinks: false }, class:"skill-edit-button" %>
      </div>
    </div>
  </div>

  <div class="chart-container">
    <div class="chart-items">
      <h2 class="chart-h2">スキルチャート</h2>
      <hr class="chart-underline">
      <div class="actions">
        <%= button_to "スキルを編集する", skills_path, method: :get, data: { turbolinks: false }, class:"skill-edit-button" %>
      </div>
    </div>
    <p class="chartbar-name">Chart.js Bar Chart</p>
    <canvas id="myChart"></canvas>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    const ctx = document.getElementById('myChart');
    const chartData = {
      labels: ['先々月', '先月', '今月'],
      datasets:[
        {
          label: 'バックエンド',
          data: [<%= @data["バックエンド"]["先々月"] || 0 %>, <%= @data["バックエンド"]["先月"] || 0 %>, <%= @data["バックエンド"]["今月"] || 0 %>],
          backgroundColor: 'rgba(243, 181, 194, 0.7)',
          borderColor: 'rgba(243, 181, 194, 1)',
          borderWidth: 1
        },
        {
          label: 'フロントエンド',
          data: [<%= @data["フロントエンド"]["先々月"] || 0 %>, <%= @data["フロントエンド"]["先月"] || 0 %>, <%= @data["フロントエンド"]["今月"] || 0 %>],
          backgroundColor: 'rgb(247, 209, 170, 0.7)',
          borderColor: 'rgb(247, 209, 170, 1)',
          borderWidth: 1
        },
        {
          label: 'インフラ',
          data: [<%= @data["インフラ"]["先々月"] || 0 %>, <%= @data["インフラ"]["先月"] || 0 %>, <%= @data["インフラ"]["今月"] || 0 %>],
          backgroundColor: 'rgba(250, 230, 181, 0.7)',
          borderColor: 'rgb(250, 230, 181, 1)',
          borderWidth: 1
        }
      ]
    };

    const chartOptions = {
      scales: {
        y: {
          beginAtZero: true,
          suggestedMax: 100,
          ticks: {
            stepSize: 10
          }
        }
      }
    };

    const myChart = new Chart(ctx, {
      type: 'bar',
      data: chartData,
      options: chartOptions
    });
  });
</script>