<div class="addskill-container">
  <h2 class="addskill-h2"><%= @category.name %>にスキルを追加</h2>
  <%= form_with(model: @category.skills.build, url: category_skills_path(@category)) do |f| %>
    <div class="field" data-turbo="false" data-turbolinks="false">
        <%= label_tag :name, "習得スキル名", class:"label-tag" %><br />
        <%= f.text_field :name, autocomplete: "name", class:"addskill-text-field" %><br />
        <% if @skill.errors.has_key?(:name) %>
          <p class="error-message" data-turbo="false" data-turbolinks="false"><%= @skill.errors[:name].first %></p>
        <% end %>
        <%= label_tag :skill_level, "習得レベル", class:"label-tag" %><br />
        <%= f.select :skill_level, options_for_select([['選択してください', nil]] + (0..100).map { |num| [num.to_s, num] }), {}, { class:"addskill-text-field"} %><br />
        <% if @skill.errors.has_key?(:skill_level) %>
          <p class="error-message" data-turbo="false" data-turbolinks="false"><%= @skill.errors[:skill_level].first %></p>
        <% end %>
    </div>
    <div class="addskill-actions">
      <%= f.submit "スキルを追加する", data: { turbo: false, turbolinks: false }, class:"submit-button" %>
    </div>
  <% end %>
</div>
