<h2 class="login-h2">ログイン</h2>
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="login-container" data-turbo="false">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { "data-turbo": "false" }) do |f| %>
    <div class="login-fields" data-turbo="false">
      <%= label_tag :email, "メールアドレス", class:"label-tag" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"login-field" %>
      <% if resource.errors[:email].any? %>
        <div class="error" data-turbo="false">
          <% flash[:alert] ||= []%>
          <% flash[:alert] << resource.errors[:email].join(", ") %>
        </div>
      <% end %>
    </div>

    <div class="field" data-turbo="false">
      <%= label_tag :password, "パスワード", class:"label-tag" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "login-field" %>
      <% if resource.errors[:password].any? %>
        <div class="error" data-turbo="false">
          <% flash[:alert] ||= []%>
          <% flash[:alert] << resource.errors[:password].join(", ") %>
        </div>
      <% end %>
    </div>

    <div class="actions" style="margin-top: 30px;" data-turbo="false">
      <%= f.submit "ログインする", class: "login-submit-button" %>
    </div>
  <% end %>
  <div class="transition-link">
    <%= link_to "新規登録する", new_user_registration_path, class: "custom-link" %>
  </div>
</div>