<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="margin: auto;">
    <%= render 'shared/header' %>
    
    <div class="content" style="margin: 160px 50px 50px;">
      <%= yield %>
    </div>
    
    <%= render 'shared/footer' %>
  </body>
</html>
